/*AJUSTES GERAIS*/

      /*SUAVIDADE DE ROLAGEM DA PAGINA*/
      html {
        scroll-behavior: smooth;
    }

    /*<!-- ANIMAÇÃO PARA O CARROUSEL DE MARCAS-->*/
    @keyframes slide {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .animate-slide {
        animation: slide 35s linear infinite;
    }


/* Fontes menu dektop and mobile */
#menu-desktop, #mobile-menu{
    font-family: poppins, sans-serif;
    font-size: 1rem;
}


/*SLIDE DE LETRAS COM O VIDEO*/
.carousel {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(49, 130, 206, 0.7);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(49, 130, 206, 0);
    }
}


@keyframes custom-pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
